.main-container {
  width: 50%;
  height: calc(100vh - 65px);
  background: #e6e6e6;
  box-shadow: 0px 0px 30px 1px rgba(100, 100, 100, 0.5);
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
}

.expand-people {
  animation: expandPeopleAnimation 0.5s;
  animation-fill-mode: forwards;
}

.reverse-people {
  animation: contractPeopleAnimation 0.5s;
  animation-fill-mode: forwards;
}

.expand-items {
  animation: expandItemsAnimation 0.5s;
  animation-fill-mode: forwards;
}

.reverse-items {
  animation: contractItemsAnimation 0.5s;
  animation-fill-mode: forwards;
}

@keyframes expandPeopleAnimation {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes contractPeopleAnimation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes expandItemsAnimation {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes contractItemsAnimation {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(-50%);
  }
}
